div {
    background-color:#603378;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
       
    
    /* Background styles */
    background-image: url(https://i.imgur.com/6L0QJXr.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (orientation: portrait) {
    #mc_embed_signup .button {  height: 60px; font-size: 26px;}
    #mc_embed_signup input.email {height: 60px; font-size: 30px;}
    
.hero
width: 75vw;
height: 75vh;
    
}
